.ui-datepicker{background-color:white;border:1px solid #30d3cf;z-index:100000;}
.ui-datepicker-header{background-color:white;display:block;}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	/*top: 10px;*/
	width: 16px;
	height: 16px;
	background-image: url(../images/ui-icons_222222_256x240.png);
}
.ui-datepicker-prev{background-position: -80px -192px; }
.ui-datepicker-next{background-position: -48px -192px; }
.ui-state-highlight {
	border: 1px solid #eeb420;
	background: #fff9e5;
	color: #1f1f1f;
}
.ui-datepicker .ui-state-hover{
	background-color:#F0F0F0;
}