<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.bronze.ordersystem.food.dao.ICategoryListDao">
	<resultMap type="CategoryList" id="categoryListMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
	</resultMap>

	<select id="queryCategoryList" resultMap="categoryListMap" flushCache="true">
		select * from OSCategoryList
		order by OSCategoryList.id asc
	</select>
	
	<select id="queryCategoryListByID" parameterType="CategoryList" resultMap="categoryListMap" flushCache="true">
		select * from OSCategoryList where id like '%${id}%'
		order by OSCategoryList.id asc
	</select>
	
	<insert id="insertCategory" parameterType="CategoryList" flushCache="true">
		insert into OSCategoryList values (#{id}, #{name})
	</insert>
	
	<delete id="deleteCategory" parameterType="CategoryList" flushCache="true">
		delete from OSCategoryList
		<where>
			<if test="id != null and id != ''">
				id = #{id}
			</if>
			<if test="name != null and name != ''">
				or name = #{name}
			</if>
		</where>
	</delete>
	
	<update id="updateCategory" parameterType="CategoryList" flushCache="true">
		update OSCategoryList
		<set>
			<if test="name != null and name != ''">
				name = #{name}
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	
</mapper>
