<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.bronze.ordersystem.food.dao.IFoodOrderableDao">
	<resultMap type="FoodOrderable" id="foodOrderableMap">
		<id property="id" column="id" />
		<result property="foodid" column="foodid" />
		<result property="orderable" column="orderable" />
	</resultMap>
	
	<select id="queryOrderedAll" resultMap="foodOrderableMap" flushCache="true">
		select * from OSFoodOrderable
	</select>
	
	<select id="queryOrdered" parameterType="java.util.List" resultMap="foodOrderableMap" flushCache="true">
		select * from OSFoodOrderable
		<where>
		foodid in
		<foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
			#{item.foodid}
		</foreach>
		</where>
	</select>
	
	<update id="updateOrderable" parameterType="FoodOrderable" flushCache="true">
		update OSFoodOrderable
		<set>
			orderable = #{orderable}
		</set>
		<where>
		<if test="foodid != null and foodid != ''">
			foodid = #{foodid}
		</if>
		</where>
	</update>
	
	<select id="queryFoodOrderableByFoodId" parameterType="java.lang.String" resultMap="foodOrderableMap" flushCache="true">
		select * from OSFoodOrderable where foodid = #{foodid}
	</select>
	
	<insert id="addNewFood" parameterType="FoodOrderable" flushCache="true">
		insert into OSFoodOrderable values (#{id}, #{foodid}, #{orderable});
	</insert>
</mapper>
