<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.bronze.ordersystem.login.dao.IUserLoginDao">

	<resultMap type="UserInfo" id="userInfoMap">
		<id property="username" column="username" />
		<result property="password" column="password" />
		<result property="code" column="code" />
		<result property="category" column="category" />
	</resultMap>

	<select id="userLogin" parameterType="UserInfo" resultMap="userInfoMap" flushCache="true">
		select * from OSUser where code = #{code} and category = #{category}
	</select>
	
	<select id="queryUserInfo" resultMap="userInfoMap" flushCache="true">
		select * from OSUser
	</select>
	
	<insert id="addUserInfo" parameterType="UserInfo" flushCache="true">
		insert into OSUser values (#{username}, null, #{code}, #{category})
	</insert>
	
	<delete id="deleteUserInfo" parameterType="UserInfo" flushCache="true">
		delete from OSUser where username = #{username}
	</delete>
	
	<select id="queryUserInfoByID" parameterType="UserInfo" resultMap="userInfoMap" flushCache="true">
		select * from OSUser where username = #{username}
	</select>
	
	<update id="updateUserInfo" parameterType="UserInfo" flushCache="true">
		update OSUser
		<set>
		<if test="code != null">
			code = #{code},
		</if>
		<if test="category != null">
			category = #{category},
		</if>
		</set>
		where username = #{username}
	</update>
	
	<select id="queryUserInfoByName" parameterType="UserInfo" resultMap="userInfoMap" flushCache="true">
		select * from OSUser where username like '%${username}%'
	</select>
</mapper>
