@charset "utf-8";
table{border-collapse:collapse;border-spacing:0;word-wrap:break-word;word-break:break-all;}
.rightbar .tacc{margin:0 auto; width:96%}
.rightbar .tacc .thead{background-color:#FFCCFF; height:30px; line-height:30px; border-bottom:1px solid #FFCCFF;}
.rightbar .thead th{padding-left:12px;}
.rightbar .tbody{ border-bottom:1px solid #FFCCFF;}
/*.rightbar .tbody:hover td{background:none;background:rgba(49, 217, 213, .5);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6631d9d5,endColorstr=#8031d9d5);}
.rightbar .tbody:hover td{filter:none;}*/
/*.rightbar .tbody:hover td{background:#31d9d5;opacity:0.5;filter:alpha(opacity=50); -moz-opacity:0.5;}*/
.rightbar .tbody td{padding:10px 0 10px 12px; font-size: 14px;} /* add font-size: 14px   */
.rightbar .tbody td p[class="td_content"]{border-right:1px solid #dcdcdc; height:45px; line-height:45px;}
.rightbar .tbody td p[class="td_content1"]{border-right:1px solid #dcdcdc; height:45px; line-height:22px;}
.rightbar .tbody td .td_content2{height:66px; line-height:22px;}
.rightbar .tbody td p[class="td_content3"]{border-right:1px solid #dcdcdc; height:22px; line-height:22px;}
.rightbar .tbody td .br{border-right:1px solid #dcdcdc;}
.rightbar .tacc .tbody td div{margin:2px 0 0 15px;}
.rightbar .tbody td[class="td_right"]{border-right:none;width: 178px;} /* add width: 178px;   */

.navTable{float:right;}
.navTable .firstBtn{width:20px;height:20px;background:url(../images/bgMain.png) -562px -218px; cursor:pointer;border:0;}
.navTable .firstBtn:hover{width:20px;height:20px;background:url(../images/bgMain.png) -701px -218px; cursor:pointer;border:0;}
.navTable .prevBtn{width:20px;height:20px;background:url(../images/bgMain.png) -597px -218px; cursor:pointer;border:0;}
.navTable .prevBtn:hover{width:20px;height:20px;background:url(../images/bgMain.png) -736px -218px; cursor:pointer;border:0;}
.navTable .nextBtn{width:20px;height:20px;background:url(../images/bgMain.png) -640px -218px; cursor:pointer;border:0;}
.navTable .nextBtn:hover{width:20px;height:20px;background:url(../images/bgMain.png) -779px -218px; cursor:pointer;border:0;}
.navTable .lastBtn{width:20px;height:20px;background:url(../images/bgMain.png) -669px -218px; cursor:pointer;border:0;}
.navTable .lastBtn:hover{width:20px;height:20px;background:url(../images/bgMain.png) -808px -218px; cursor:pointer;border:0;}
.navTable td select{width:70px}