@charset "utf-8";
.ui-dialog-titlebar{
    display:none;
}
.ui-dialog-content{
	background-color:white;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.swan_dialogTemplate button{
	cursor:pointer;
	border:0;
}
.swan_dialog_Title{
	height:28px;
	line-height:28px;
	text-indent:5px;
	width:100%;
	padding:0;
	overflow:hidden;
	font-weight:bold;
	color:#444;
	border-bottom:1px solid #a9a8a1;
	background-color:#ABEDEC;
}
.swan_dialog_Title button{
	margin-top:10px;
	width:10px;
	height:20px;
	background:url(../images/btn2_03.png) 0 0 no-repeat;
}
.swan_dialog_Title button:hover{
	background:url(../images/btn2_03.png) -20px 0 no-repeat;
}
.swan_dialog_Button{
	width:100%;
	line-height:32px;
	position:absolute;
	bottom:5px;
	text-align:center;
}
/*.swan_dialog_Button button{
	width:95px;
	height:28px;
	background:url(../images/btn.png) 0 -112px;
	color:#497768;
	font-weight:bold;
	font-size:12px;
	float:right;
	margin-right:10px;
}
.swan_dialog_Button button:hover{
	background-position:0 -76px;
	font-size:12px;
}*/
.swan_dialog_Content{
	padding-top:10px;
	text-align:center;
	overflow:hidden;
}

/*.swan_dialog_Content table{word-wrap:break-word;word-break:break-all;}
.swan_dialog_Content td{height:30px; line-height:normal; padding:2px;text-align:left;padding-left:10px;}
.swan_dialog_Content .newTextAD{width:505px; height:150px;}
.swan_dialog_Content .editpwBtn{width:105px; height:22px; position:absolute; right:263px;line-height:21px; background:url(../image/bgMain.png) -436px -216px; border:0; font-size:14px; color:#000; cursor:pointer;}
.swan_dialog_Content input[type="text"]{width:180px; border:1px solid #dcdcdc; padding:2px; color:#000; background:#fafafa;}
.swan_dialog_Content input[type="text"]:focus{ border:1px solid #13b5b1;outline:none;}
.swan_dialog_Content input[type="radio"]{float:left;}
.swan_dialog_Content input.s_date{width:180px; border:1px solid #bac5d5; padding:2px; background:#fafafa url(../icon/icon_12.png) right no-repeat;}
.swan_dialog_Content select{width:120px;padding:1px; color:#000;}
.swan_dialog_Content textarea{width:355px; height:55px; line-height:22px; border:1px solid #dcdcdc; padding:2px; color:#000; background:#fafafa;margin:4px 0;}
.swan_dialog_Content textarea:focus{ border:1px solid #13b5b1;outline:none;}
.swan_dialog_Content span.s_info{float:left; width:180px; height:14px; line-height:20px; border:1px solid #f9eb9d; padding:2px; margin:0 0 5px 0; color:#fa1414; background:#fdfdd3;}
.swan_dialog_Content span.s_radio{float:left; margin:0 5px;}*/