#searchBar{
	padding:0 0 0 40px;
}

#search{
	border:0;
	padding:9px 0 0 0;
}

#billmarkInfoBody{
	background:#f7f5f3;
}

#projectInfoTable table{
  	/* border-collapse:collapse; */
}

#projectInfoTable table,th, td
  {
  /* border: 1px solid black; */
  }