<script id="admin_Account_Template"  type="text/x-jsmart-tmpl">
<dd>
	<div>
		<table class="tacc" border="0" cellpadding="0" cellspacing="0" >
			<tr class="thead">
				<th width="100">{$swan->fmt("account")}</th>
				<th width="125">{$swan->fmt("name")}</th>
				<th width="107">{$swan->fmt("birthday")}</th>
				<th width="340">{$swan->fmt("address")}</th>
				<th width="auto">{$swan->fmt("identity")}</th>
			</tr>
			{foreach $pageData as $i => $data}
			<tr class="tbody">
				<td><p class="td_content" title="{$data.account}">{$data.account}</p></td>
				<td><p class="td_content" title="{$data.name}">{$data.name}</p></td>
				<td><p class="td_content" title="{$data.birthday}">{$data.birthday}</p></td>
				<td><p class="td_content1" title="{$data.message}">{$data.message}</p></td>
				<td class="td_right">
					{if $data.role eq 0}
					<select class="left">
						<option selected="selected">Admin</option>
						<option>Power</option>
					</select>
					{else}
					<select class="left">
						<option>Admin</option>
						<option selected="selected">Power</option>
					</select>
					{/if}
					<div class="edit cursor left" account="{$data.account}"></div>
					<div class="remove cursor left" account="{$data.account}"></div>
				</td>
			</tr>
			{foreachelse}
			<tr class="tbody">
				<td class="td_content" colspan="5" style="text-align:center">{$swan->fmt("nodata")}</td>
			</tr>
			{/foreach}
		</table>
	</div>
</dd>

{* 分页控件 *}
{if $isPager}
{$j = 0}
<dd class="navBar" forPagination="{$id}">
	<table border="0" cellpadding="0" cellspacing="0" width="230" class="navTable">
		{if $currentPage <= 1}
		{if $totalPage < 1}
		{elseif $currentPage == $totalPage}
		<tr valign="top">
			<td width="40"><input type="button" class="firstBtn"></td>
			<td width="40"><input type="button" class="prevBtn"></td>
			<td width="40"><input type="button" class="nextBtn"></td>
			<td width="40"><input type="button" class="lastBtn"></td>
			<td width="auto">
				<select operate="gotoPage" class="goTo">
					{while ++$j <= $totalPage}
						{if $j eq $currentPage}
						<option value="{$j}" selected="selected">{$j}/{$totalPage}</option>
						{else}
						<option value="{$j}">{$j}/{$totalPage}</option>
						{/if}
					{/while}
				</select>
			</td>
		</tr>
		{else}
		<tr valign="top">
			<td width="40"><input type="button" class="firstBtn"></td>
			<td width="40"><input type="button" class="prevBtn"></td>
			<td width="40"><input type="button" class="nextBtn" operate="nextPage"></td>
			<td width="40"><input type="button" class="lastBtn" operate="lastPage"></td>
			<td width="auto">
				<select operate="gotoPage" class="goTo">
					{while ++$j <= $totalPage}
						{if $j eq $currentPage}
						<option value="{$j}" selected="selected">{$j}/{$totalPage}</option>
						{else}
						<option value="{$j}">{$j}/{$totalPage}</option>
						{/if}
					{/while}
				</select>
			</td>
		</tr>
		{/if}
		{elseif $currentPage >= $totalPage}
		<tr valign="top">
			<td width="40"><input type="button" class="firstBtn" operate="firstPage"></td>
			<td width="40"><input type="button" class="prevBtn" operate="prevPage"></td>
			<td width="40"><input type="button" class="nextBtn"></td>
			<td width="40"><input type="button" class="lastBtn"></td>
			<td width="auto">
				<select operate="gotoPage" class="goTo">
					{while ++$j <= $totalPage}
						{if $j eq $currentPage}
						<option value="{$j}" selected="selected">{$j}/{$totalPage}</option>
						{else}
						<option value="{$j}">{$j}/{$totalPage}</option>
						{/if}
					{/while}
				</select>
			</td>
		</tr>
		{else}
		<tr valign="top">
			<td width="40"><input type="button" class="firstBtn" operate="firstPage"></td>
			<td width="40"><input type="button" class="prevBtn" operate="prevPage"></td>
			<td width="40"><input type="button" class="nextBtn" operate="nextPage"></td>
			<td width="40"><input type="button" class="lastBtn" operate="lastPage"></td>
			<td width="auto">
				<select operate="gotoPage" class="goTo">
					{while ++$j <= $totalPage}
						{if $j eq $currentPage}
						<option value="{$j}" selected="selected">{$j}/{$totalPage}</option>
						{else}
						<option value="{$j}">{$j}/{$totalPage}</option>
						{/if}
					{/while}
				</select>
			</td>
		</tr>
		{/if}
	</table>
</dd>
{else}
{/if}
</script>