@charset "utf-8";
.ui-dialog-titlebar{
    display:none;
}
.ui-dialog-content{
	background-color:white;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
/*.swan_alert_messageTemplate button,.swan_confirm_messageTemplate button{
	cursor:pointer;
	border:0;
	width:95px;
	height:28px;
	background:url(../images/btn.png) 0 -112px;
	color:#497768;
	font-weight:bold;
	font-size:12px;
}*/
.swan_message_Title{
	height:28px;
	line-height:28px;
	text-indent:5px;
	width:100%;
	padding:0;
	overflow:hidden;
	font-weight:bold;
	color:#444;
	border-bottom:1px solid #a9a8a1;
	background-color:#ABEDEC;
}
.swan_message_Title button{
	margin-top:10px;
	width:10px;
	height:20px;
	background:url(../images/btn2_03.png) 0 0 no-repeat;
}
.swan_message_Title button:hover{
	background:url(../images/btn2_03.png) -20px 0 no-repeat;
}
.swan_message_Button{
	width:100%;
	line-height:32px;
	position:absolute;
	bottom:5px;
	text-align:center;
}
/*.swan_message_Button button{
	width:95px;
	height:28px;
	background:url(../images/btn.png) 0 -112px;
	color:#497768;
	font-weight:bold;
	font-size:12px;
	float:right;
	margin-right:10px;
}
.swan_message_Button button:hover{
	background-position:0 -76px;
	font-size:12px;
}*/
.swan_message_Content{
	padding-top:20px;
	text-align:center;
	overflow:hidden;
}
.swan_message_image{
	width:32px;
	height:32px;
	position:absolute;
	top:40px;
	left:30px;
}
.swan_message_Content .swan_message_error{
	background: url('../images/messager_icons.png') no-repeat scroll -64px 0;
}
.swan_message_Content .swan_message_info{
	background: url('../images/messager_icons.png') no-repeat scroll 0 0;
}
.swan_message_Content .swan_message_warning{
	background: url('../images/messager_icons.png') no-repeat scroll -96px 0;
}
.swan_message_Content .swan_message_question{
	background: url('../images/messager_icons.png') no-repeat scroll -32px 0;
}

.swan_message_upload_loading{
	padding:0px;
	width:40px;
	height:29px;
	background:url(../images/PC_loading_2.gif) left top no-repeat;
	text-indent:35px;
	display:block;
	margin-left:40px;;
}

.swan_message_upload_percent{
	padding:0px;
	height:29px;
	line-height:29px;
}