<!-- 输出对话框 -->
<script id="message_Default_Template"  type="text/x-jsmart-tmpl">
<div class="swan_alert_messageTemplate" style="display:none;">
	<div class="swan_message_Title">
		<span></span>
		<button operate="closeDialog" style="position:absolute;right:5px;"/>
	</div>
	<div class="swan_message_Content">
		<div class="swan_message_image"></div>
		<div class="swan_message"></div>
	</div>
	<div class="swan_message_Button">
		<button operate="okDialog" autofocus="autofocus">确定</button>
	</div>
</div>

<!-- 确认对话框 -->
<div class="swan_confirm_messageTemplate" style="display:none;">
	<div class="swan_message_Title">
		<span></span>
		<button operate="closeDialog" style="position:absolute;right:5px;"/>
	</div>
	<div class="swan_message_Content">
		<div class="swan_message"></div>
	</div>
	<div class="swan_message_Button">
		<button operate="confirmDialog" autofocus="autofocus">确定</button>
		<button operate="closeDialog">取消</button>
	</div>
</div>

<!-- 进度信息显示框 -->
<div class="swan_process_messageTemplate" style="display:none;">
	<div class="swan_message_Title">
		<span></span>
	</div>
	<div class="swan_message_Content">
		<span class="swan_message_upload_loading">
			<span class="swan_message_upload_percent">0%</span>
		</span>
		<br style="height:0;width:0;clear:both;"/>
	</div>
</div>
</script>