#l_b_prompt{
	position:absolute; 
	top:150px; 
	left:104px; 
	width:282px; 
	height:22px; 
	padding:1px; 
	border:1px solid #fca86d; 
	background:#fdffda; 
	display:block;
}

#l_b_prompt img{
	float:left; 
	padding:0 0 0 6px;
}

#l_b_prompt span{
	float:left; 
	padding:0 0 0 6px; 
	height:22px; 
	line-height:22px;
	font-size: 13px;
	font-weight: 700;
	color: red;
}

.login_ctn{
	width:506px;
	height:345px;
	background:url(/OrderingSystem/image/login/bg_login.png) no-repeat top left;
	position:relative;
	margin:0 auto;
}
	
.login_ctn .form_ctn{
	width:300px;
	padding:189px 0 0 65px;
	height:80px;
}

.login_ctn .form_ctn label,.login_ctn .form_ctn input.text,select.text{
	margin-bottom:15px;
	float:left;
}

.login_ctn .form_ctn label{
	width:88px;
	display:inline-block;
	line-height:25px;
	height:25px;
	color:#555;
	font-size:14px;
}

.login_ctn .form_ctn input.text{
	height:19px;
	padding:2px 6px;
	border:1px solid #dcd3c2;
	width:186px;
}

select.text {
	height:25px;
	padding:2px 3px;
	border:1px solid #dcd3c2;
	width:200px;
}

.login_ctn .form_ctn button{
	position:absolute;
	right:61px;
	border:0;
	background:url(/OrderingSystem/image/login/btn_sign_in.png);
	width:72px;
	height:73px;
	top:187px;
	cursor:pointer;
}

.login_ctn .footer{
	font-size:13px;
	color:#a8a8a8;
	clear:both;
	padding-top:52px;
	text-align:center;
}