<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 
	在这个文件放置一些全局性的配置，
	如handler、objectFactory、plugin、以及mappers的映射路径
	（由于在applicationContext-common中的SqlSessionFactoryBean有配置mapper的location，这里就不需要配置）等 
-->
<configuration>
	<typeAliases>
		<typeAlias alias="UserInfo" type="com.bronze.ordersystem.login.model.UserInfo"/>

		<typeAlias alias="TableInfo" type="com.bronze.ordersystem.bill.model.TableInfo"/>

		<typeAlias alias="CheckedBill" type="com.bronze.ordersystem.bill.model.CheckedBill"/>
		<typeAlias alias="UncheckedBill" type="com.bronze.ordersystem.bill.model.UncheckedBill"/>
		<typeAlias alias="UncheckedBillDetails" type="com.bronze.ordersystem.bill.model.UncheckedBillDetails"/>
		<typeAlias alias="CheckedBillDetails" type="com.bronze.ordersystem.bill.model.CheckedBillDetails"/>
		<typeAlias alias="BillSpecialRemark" type="com.bronze.ordersystem.bill.model.BillSpecialRemark"/>
		<typeAlias alias="OrderedFoodInTable" type="com.bronze.ordersystem.bill.model.OrderedFoodInTable"/>
		<typeAlias alias="AllCookingInfo" type="com.bronze.ordersystem.bill.model.AllCookingInfo"/>
		<typeAlias alias="Discount" type="com.bronze.ordersystem.bill.model.Discount"/>
		<typeAlias alias="AccountReconciliation" type="com.bronze.ordersystem.bill.model.AccountReconciliation"/>
		<typeAlias alias="BillPayment" type="com.bronze.ordersystem.bill.model.BillPayment"/>
		<typeAlias alias="ReconciliationBill" type="com.bronze.ordersystem.bill.model.ReconciliationBill"/>
		
		<typeAlias alias="DishStatistics" type="com.bronze.ordersystem.statistics.model.DishStatistics"/>
		<typeAlias alias="DailySaleStatistics" type="com.bronze.ordersystem.statistics.model.DailySaleStatistics"/>
		<typeAlias alias="TotalSaleStatistics" type="com.bronze.ordersystem.statistics.model.TotalSaleStatistics"/>
		<typeAlias alias="StatisticsCondition" type="com.bronze.ordersystem.statistics.model.StatisticsCondition"/>
		
		<typeAlias alias="CategoryList" type="com.bronze.ordersystem.food.model.CategoryList"/>
		<typeAlias alias="FoodInfo" type="com.bronze.ordersystem.food.model.FoodInfo"/>
		<typeAlias alias="FoodCategory" type="com.bronze.ordersystem.food.model.FoodCategory"/>
		<typeAlias alias="FoodOrderable" type="com.bronze.ordersystem.food.model.FoodOrderable"/>
		<typeAlias alias="FoodRecommend" type="com.bronze.ordersystem.food.model.FoodRecommend"/>
		<typeAlias alias="FoodSpecialRemark" type="com.bronze.ordersystem.food.model.FoodSpecialRemark"/>
		<typeAlias alias="FoodRemarkWithName" type="com.bronze.ordersystem.food.model.FoodRemarkWithName"/>
		<typeAlias alias="SimpleFoodInfo" type="com.bronze.ordersystem.food.model.SimpleFoodInfo"/>
		<typeAlias alias="SelectedDishes" type="com.bronze.ordersystem.food.model.SelectedDishes"/>
		
		<typeAlias alias="BillAttachment" type="com.bronze.ordersystem.attachment.model.BillAttachment"/>
	</typeAliases>
</configuration>
