@charset "utf-8";
.effect-highlight{
	background:#97EBE9;
}

 .ui-tooltip {
	color:#333;
	background-color:white;
    border: none;
	padding: 2px;
	position: absolute;
	z-index: 9999;
	min-width: 100px;
	max-width: 600px;
	border:1px solid gray;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
	border-radius: 0;
	font: 10px;
    box-shadow: 0 0 7px black;
    word-wrap:break-word;
    word-break:normal;
    overflow:hidden;
  }